DB_SUNUCU=127.0.0.1
DB_PORT=3306
DB_ADI=demirvana
DB_KULLANICI=root
DB_PAROLA=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_CUSTOMER_ID=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=
GOOGLE_ADS_REDIRECT_URI=http://127.0.0.1:8080/api/admin/google-ads/oauth/callback
GOOGLE_ADS_CA_BUNDLE=
GOOGLE_ADS_REFRESH_TOKEN=
